<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">


    {% for cat in cats %}

    <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>

    {% endfor %}

</ul>
<div class="barhead">
    <div class="leftsection">
        <p class="logo-header"> TechOcean </p>
    </div>
    <div class="midsection">
        <a class="home" href="/home">Home</a>
        <a class="about" href="/about">About</a>
        <a class="contact" href="/contact">Contact Us!</a>
       <a class="dropdown-trigger" href="#!" data-target="dropdown1">CATEGORY<i
        class="material-icons right">arrow_drop_down</i>
    </div>
    <div class="rightsection">
        <li><a class="waves-effect waves-light btn"  href="/login">LogIn</a></li>
        <li><a class="waves-effect waves-light btn" href="/signup">SignUp</a></li>
               
            </div>

    
</div>