{%extends 'base.html' %}

{%block title%} LogIn {%endblock%}

{%block content%}

<section class="text-gray-600 body-font relative">
  <div class="login-container container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Login Here</h1>
    </div>
    <div class="login-div lg:w-1/2 md:w-2/3 mx-auto" style="border: 3px solid black; height: 300px; padding: 20px;">
      <div class="flex flex-wrap -m-2">
        
        
        <div class="p-2 w-full">
          <div class="relative">
            <label for="username" class="leading-7 text-sm text-gray-600"  >Username</label>
            <input type="text" placeholder="Enter Username" id="username" name="username" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="password-login" class="leading-7 text-sm text-gray-600">Password</label>
            <input type="password-login" id="password-login" name="password-login" placeholder="Enter Password" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="login-submit p-2 w-full">
          <button type="submit" class="login-submit text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
  {%endblock%}