.header{
    height: 70px;
}

.cat-title{
    font-size: 300px;
}

.mt20{
    margin-top:20px;
}
    
.heading{
    /* display: flex;
    flex-flow: column; */
    width:95%!important;
    margin:auto;
}
    
.cat-img{
    height: 250px;
    width: 250px;
}

.cat-title{
    font-size: 25px;
    font-weight: 700;
}

.post-img{
    height: 250px;
    width: 250px;
    border: 5px solid black;
    border-radius: 20%;
}

.header-btn{
    border-radius: 30px;
}

.signup{
    max-width: 1330px;
    margin-top:110px;
    border: 5px solid black;
    justify-items: center;
}

.signup-heading{
    font-weight: 700;
    font-size: 50px;
}

.collection{
    width: 450px;
    margin: 43px;
}

.collection-item{
    border: 2px solid black;
    border-radius: 10px;
}

.login-submit{
    text-align: center;
}

.login-div{
    height: 200px;
}

.social{
    color : black;
}

.title-font{
    font-weight: 700;
}
